@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

* { box-sizing: border-box; }

body { font-family: 'Quicksand', sans-serif;
    background-image: url('https://images.unsplash.com/photo-1612404748636-568ca4155994?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c2t5JTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.8;
    width: 100%;
}



button { background-color: rgba(150, 34, 50, 0.4); }

input { background-color: rgba(200, 50, 200, 0.4); }

button, input {
    border: none;
    margin: 10px;
    border-radius: 5px;
    padding: 5px 15px;
}

table { 
   
display: flex;
justify-content: center;
flex-wrap: wrap;}

.delete { color: red; }


tr{ box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    
    margin: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    font-family: arial; 

width: 50%;
margin: 15px;
}